<html>
<head>
<title>activity_main3.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main3.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.MainActivity3&quot;</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#ffff&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>&gt;


        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;50dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#0B85D8&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;88dp&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Creat New Account &quot; </span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView6&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;22dp&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;normal&quot;</span>
            <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#A9666644&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s3">=&quot;22dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;If you do not already have an account&quot; </span>/&gt;



        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/editTextTextEmailAddress2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;52dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:hint</span><span class="s3">=&quot;Name&quot;</span>
            <span class="s1">android:ems</span><span class="s3">=&quot;20&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;textEmailAddress&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/editTextTextPassword2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:ems</span><span class="s3">=&quot;20&quot;</span>
            <span class="s1">android:hint</span><span class="s3">=&quot;Username&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;textPassword&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/editTextTextPassword3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/black&quot;</span>
            <span class="s1">android:ems</span><span class="s3">=&quot;20&quot;</span>
            <span class="s1">android:hint</span><span class="s3">=&quot;Password&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;textPassword&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/editTextTextPassword4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:hint</span><span class="s3">=&quot;Re-password&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:ems</span><span class="s3">=&quot;20&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/black&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;textPassword&quot; </span>/&gt;

        &lt;<span class="s4">LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;60dp&quot;</span>
            <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;

            &lt;<span class="s4">Button</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/button2&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;140dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:background</span><span class="s3">=&quot;#0B85D8&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s3">=&quot;1&quot;</span>
                <span class="s1">android:textColor</span><span class="s3">=&quot;#ffff&quot;</span>
                <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
                <span class="s1">android:textSize</span><span class="s3">=&quot;22dp&quot;</span>
                <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;20dp&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;Creat&quot; </span>/&gt;

            &lt;<span class="s4">Button</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/button3&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;140dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s3">=&quot;1&quot;</span>
                <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
                <span class="s1">android:background</span><span class="s3">=&quot;#0B85D8&quot;</span>
                <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;40dp&quot;</span>
                <span class="s1">android:textSize</span><span class="s3">=&quot;22dp&quot;</span>
                <span class="s1">android:layout_marginRight</span><span class="s3">=&quot;20dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s3">=&quot;#ffff&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;Back&quot; </span>/&gt;
        &lt;/<span class="s4">LinearLayout</span>&gt;


    &lt;/<span class="s4">LinearLayout</span>&gt;
&lt;/<span class="s4">android.support.constraint.ConstraintLayout</span>&gt;</pre>
</body>
</html>