<html>
<head>
<title>activity_main5.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main5.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">LinearLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.MainActivity5&quot;</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView12&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;28dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;110dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#0B85D8&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Hi , Dalia&quot; </span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView13&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;22dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#0B85D8&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;22dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Current Status&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/editTxtDate&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:ems</span><span class="s3">=&quot;10&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;22dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;3dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;text&quot; </span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView14&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;25dp&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;22dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;28dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#0B85D8&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Old status&quot; </span>/&gt;

    &lt;/<span class="s4">LinearLayout</span>&gt;



&lt;/<span class="s4">LinearLayout</span>&gt;</pre>
</body>
</html>